<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.5/vue.min.js"></script>
  <script defer src="script.js"></script>
</head>
<body>
  <div id="app" class="center">
    <div class="row" v-for="(row, y) in matrix">
      <div class="box center"
        v-for="(cell, x) in row"
        :class="{ open: cell.isOpen }"
        @click="show(x, y)"
        @contextmenu.prevent="flag(x, y)"
      >
        <span v-show="cell.isOpen">
          <i v-if="cell.content === 'x'" class="material-icons red">close</i>
          <span v-else="">{{ cell.content }}</span>
        </span>
        <i v-show="cell.isFlagged" class="material-icons blue">flag</i>
      </div>
    </div>
  </div>
</body>
</html>
